
header{
display: flex;
flex-direction: column;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
border-bottom: solid 3px black;
}
.title{
    font-size: xx-large;
    font-weight: bolder;
}
.nav{
    width: 100vw;
    display: flex;
    padding: 20px 20px;
    justify-content: space-evenly;
}
.container{
    width: 100%;
    
}
.pintura{
    height: 550px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 2px black;
    padding: 10px;
    gap: 20px;
}
.pintura-2{
    height: 550px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 2px black;
    padding: 10px;
    gap: 20px;
    background-color: rgb(214, 213, 213);
}

.img-1{
    width: 400px;
    height: 550px;
    background-image: url(img/gioconda.jpg);
    background-size: cover;
    background-position: center;
    border: solid 2px black;
    
}
.description{
    width: 80%;
    display: flex;
}
.paint-detail{
    width: 18%;

}
.paint-title{
    font-size: large;
    font-weight: bold;
}
.paint-artist{
    font-size: large;
   font-style: italic;
}
.description-text{
    font-size: large;
    width: 70%;
}

.img-2{
    width: 400px;
    height: 550px;
    background-image: url(img/girasoles.jpg);
    background-size: cover;
    background-position: center;
    border: solid 2px black;
}
.img-3{
    width: 400px;
    height: 550px;
    background-image: url(img/suicidio.jpg);
    background-size: cover;
    background-position: center;
    border: solid 2px black;
}

@media (max-width:650px){
    .container{
        width: 95vw;
        align-content: center;
    }
    .pintura, .pintura-2{
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .img-1, .img-2, .img-3{
        width: 90vw;
    }
   
   
    .description{
        display: flex;
        width: 100%;
        padding: 10px;
                
    }
    .paint-detail{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    
    }
    .paint-title{
        font-size: xx-large;
        
    }
    .paint-artist{
        font-size: xx-large;
    }
    .description-text{
        display: none;
    }
    
}